mixin toc( item )
  if item.children && item.children.length
    ul
      each ch in item.children.sort(function( a, b ){ return a.type === 'constructor' ? -1 : b.type === 'constructor' ? 1 : a.id > b.id ? 1 : -1; })
        li
          if ch.path
            a(href='#'+ch.path)
              +title(ch)
          +toc( ch )

mixin title( item, nosuff )
  if item.type === 'constructor'
    span.constructor=item.id
  else 
    span.pfx= item.type === 'instance method' ? 'this.' : item.name_prefix
    span.name= item.name

  unless nosuff
    if item.type === 'constructor' || item.type === 'instance method' || item.type === 'class method'
      | ()

mixin args( sig )
  -var opt=false
  |(
  if sig.arguments && sig.arguments.length
    span.arguments
      each arg, i in sig.arguments
        if arg.optional
          unless opt
            !='<small class="optional">'
            -opt=true
        else if opt
          !='</small>'
          -opt=false

        =(i === 0 ? '':', ')
        span(class=[arg.types])
          =arg.name
          if arg.callback
            +args( arg )
      if opt
        !='</small>'
  | )

mixin argdesc( sig )
  if sig.arguments && sig.arguments.length
    .arguments-desc
      h4.title accepts
      dl
        each arg in sig.arguments
          dt(class=[arg.types])
            =arg.name
            if arg.callback
              +args( arg )
            
          dd
            if arg.types
              span.types=' ('+arg.types.join(' | ')+')'
            if arg.optional
              span.optional optional

            if arg.description
              !=md(linkify(arg.description))
            if arg.callback
              p Accepts:
              +argdesc( arg )

mixin returns( sig )
  if sig.returns && sig.returns.length
    .returns-desc
      h4.title returns
      dl
        each ret in sig.returns
          dt(class=ret.type)
            =ret.type

          if ret.description
            dd
              !=md(linkify(ret.description))

mixin signatures( item )
  if item.signatures
    ul.signatures
      each sig in item.signatures
        li
          div.declaration
            +title( item, true )
            +args( sig )

            if item.type !== 'constructor'
              |; // ->
              span.returns
                if sig.returns
                  each ret, i in sig.returns
                    =(i === 0 ? '':'|')
                    span(class=ret.type)=ret.type
                else
                  span.void void

          +argdesc( sig )
          +returns( sig )


mixin doc( item, level, recurse )
  -var level = level || 1
  article.doc
    header
      !='<h'+level+' class="title">'
      a(id=item.path, href='#'+item.path)
        +title( item )
      if item.alias_of
        small.aliases
          | alias of: 
          span.alias=item.alias_of
      !='</h'+level+'>'
    
    if item.short_description
      .desc
        !=md(linkify(item.short_description))

    +signatures(item)

    if item.description
      .desc.long
        !=md(linkify(item.description.replace(item.short_description, '')))
    
    if item.related_to
      | Related to: 
      a.related(href='#'+getPath(item.related_to))
        !=item.related_to

    p.file='source: '
      a(href=fileRoot+item.file+'#L'+item.line)=item.file+' : '+item.line

    if recurse !== false && item.children && item.children.length
      .children
        //- sort so that constructors are first
        for ch in item.children.sort(function( a, b ){ return a.type === 'constructor' ? -1 : b.type === 'constructor' ? 1 : a.id > b.id ? 1 : -1; })
          +doc(ch, level+1)

doctype html
html
  head
    meta(name='viewport', content='width=device-width', charset='utf-8')

    title= title

    link(href="http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700" rel="stylesheet",type="text/css")
    link(href="http://wellcaffeinated.net/PhysicsJS/assets/fonts/Caviar-Dreams-fontfacekit/stylesheet.css" rel="stylesheet",type="text/css")
    // Foundation CSS
    //link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/foundation/4.1.6/css/foundation.min.css")

    // Prism CSS
    //link(rel="stylesheet", href="css/prism.css")
    link(rel="stylesheet", href="css/highlight.css")

    // Custom Styles
    link(rel="stylesheet", href="css/style.css")

    script(srr="http://cdnjs.cloudflare.com/ajax/libs/foundation/4.1.6/js/vendor/custom.modernizr.js")

  body
    
    nav.toc
      +toc(tree)

    section#main
      //- first one is PhysicsJS namespace
      +doc(tree.children[0], 1, false)

      each mainItem in tree.children[0].children
        +doc(mainItem)

      section
        h1 Special types
        p Special types returned by various PhysicsJS methods.
      each others,i in tree.children
        if i !== 0
          +doc(others, 2)      

    //- Foundation JS
    //- script(src='http://cdnjs.cloudflare.com/ajax/libs/foundation/3.2.2/javascripts/foundation.min.js')
    script(type='text/javascript').
      document.write('<script src=' +
      ('__proto__' in {} ? 'http://cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min' : 'http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min') +
      '.js><\/script>')

    //script(src='http://cdnjs.cloudflare.com/ajax/libs/foundation/4.1.6/js/foundation/foundation.reveal.min.js')

    script(src='js/page.js')
    // Prism js
    //script(src='js/prism.js')


